main{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(102, 96, 96), rgb(66, 233, 61));
    background-size: cover;
}

  
  
  
  .container{
    display: flex;
    flex-direction: column;
    background: rgb(92, 143, 86);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem garamond;
    border-bottom: solid 5px black;
    margin-bottom: 20px;
  }
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .input input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: bold 1.2rem garamond;
    text-align: center;
  }

  input::placeholder {
    color: rgb(223, 223, 223);

  }
  
  .input label {
    font: bold 1.5rem garamond;
  }
  
  button{
    width: 200px;
    height: 40px;
    font: bold 1.2rem garamond;
    background: #ffffff;
    color: rgb(0, 0, 0);
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: garamond;
  }
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 350px;
    height: 95px;
    border-radius: 5px;
    font: 1.5rem garamond;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }